$text: #d2f1f9;
$background: #010304;
$primary: #1ba8d0;
$secondary: #052129;
$accent: #1db3dd;

.container-ButtonBack {
  align-self: flex-start;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: $accent;
  border: 2px solid $background;
  border-radius: 5px;
  box-shadow: 5px 5px white;
}

.container-ButtonBack:hover {
  cursor: pointer;
}

.container-ButtonBack:active {
  box-shadow: 0px 0px;
  transform: translate(5px, 5px);
}
