@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

$text: #d2f1f9;
$background: #010405;
$primary: #1ba8d0;
$secondary: #052129;
$accent: #1db3dd;

* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  color: $text;
  background-color: $background;
}

.container-LayoutManga {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin-bottom: 20px;

  .components-BackButton {
    align-self: flex-start;
  }

  .container-slot {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 25px 0px 25px 0px;
    background-color: $secondary;
    border: 2px solid $accent;
    border-radius: 10px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container-LayoutManga {
    width: 80%;
  }
}
