---
import Layout from "../layouts/Layout.astro";
import MangaCollection from "../components/MangaCollection.astro";
import "../styles/css/pages-index.css";
---

<Layout title="Beranda">
  <div class="container-index">
    <a href="/" class="reset">Reset Pencarian</a>
    <div class="components-MangaCollection">
      <MangaCollection />
    </div>
  </div>
</Layout>

<style>
  * {
    /* border: 1px solid aqua; */
  }
</style>
