---
import ButtonBack from "../components/ButtonBack.astro";
import "../styles/css/layouts-LayoutChapter.css";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="container-LayoutChapter">
      <div class="components-BackButton">
        <ButtonBack />
      </div>
      <div class="container-slot">
        <slot />
      </div>
    </div>
  </body>
</html>

<style>
  * {
    /* border: 1px solid white; */
  }
</style>
